Final Project.

In [36]:
import numpy as np
import pandas as pd
import sklearn

In [23]:
avail = pd.read_csv("availabilities.csv")
host = pd.read_csv("hosts.csv")
# lst = pd.read_csv("listings.csv")
rev = pd.read_csv("reviews.csv")

In [31]:
# Had to strip the first line from the file - just a title line, then worked fine.
lst = pd.read_csv('listings.csv')

In [7]:
avail

,listing_id,date,available,price,minimum_nights,maximum_nights
0,2384,11/21/19,t,$65.00,2,1125
1,2384,11/22/19,f,$65.00,2,1125
2,2384,11/23/19,f,$65.00,2,1125
3,2384,11/24/19,f,$65.00,2,1125
4,2384,11/25/19,f,$65.00,2,1125
...,...,...,...,...,...,...
1048570,21788299,7/8/20,f,$239.00,2,1125
1048571,21788299,7/9/20,f,$239.00,2,1125
1048572,21788299,7/10/20,f,$239.00,2,1125
1048573,21788299,7/11/20,f,$239.00,2,1125
1048574,21788299,7/12/20,f,$239.00,2,1125

In [16]:
avail.isnull()
avail.isna().sum()

listing_id        0
date              0
available         0
price             0
minimum_nights    0
maximum_nights    0
dtype: int64

In [8]:
host

,id,host_url,name,host_since,location,response_time,superhost
0,2613,https://www.airbnb.com/users/show/2613,Rebecca,8/29/08,"Chicago, Illinois, United States",within an hour,t
1,5775,https://www.airbnb.com/users/show/5775,Craig & Kathleen,12/29/08,"Chicago, Illinois, United States",within a few hours,t
2,17928,https://www.airbnb.com/users/show/17928,Sarah,5/19/09,"Chicago, Illinois, United States",within an hour,t
3,33004,https://www.airbnb.com/users/show/33004,At Home Inn,8/21/09,"Chicago, Illinois, United States",within an hour,f
4,2140,https://www.airbnb.com/users/show/2140,Lois,8/16/08,"Aurora, Illinois, United States",within an hour,f
...,...,...,...,...,...,...,...
4622,285121807,https://www.airbnb.com/users/show/285121807,Terri,8/12/19,"Chicago, Illinois, United States",NaN,f
4623,50982462,https://www.airbnb.com/users/show/50982462,Brian,12/10/15,"Chicago, Illinois, United States",NaN,f
4624,114503989,https://www.airbnb.com/users/show/114503989,Jesson,2/2/17,China,NaN,f
4625,2912333,https://www.airbnb.com/users/show/2912333,Benjamin,7/12/12,"Chicago, Illinois, United States",NaN,f
4626,50413447,https://www.airbnb.com/users/show/50413447,Christian,12/2/15,"Chicago, Illinois, United States",within an hour,t

In [17]:
host.isna().sum()

id                 0
host_url           0
name               0
host_since         0
location          10
response_time    767
superhost          0
dtype: int64

In [32]:
lst

,id,listing_url,name,description,host_id,host_since,neighbourhood,city,state,zipcode,...,cleaning_fee,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy
0,2384,https://www.airbnb.com/rooms/2384,"Walk to UChicago, 10 min train to McCormick Place",Visiting The University of Chicago or attendin...,2613,8/29/08,Hyde Park,Chicago,IL,60637,...,$0.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period
1,4505,https://www.airbnb.com/rooms/4505,One Great Apartment. 384 Great Reviews. 1 Bad ...,"We took the winter off, made things nicer arou...",5775,12/29/08,Little Village,Chicago,IL,60608,...,$25.00,96.0,10.0,9.0,10.0,10.0,9.0,9.0,t,moderate
2,7126,https://www.airbnb.com/rooms/7126,Tiny Studio Apartment 94 Walk Score,A very small studio in a wonderful neighborhoo...,17928,5/19/09,Ukrainian Village,Chicago,IL,60622,...,$0.00,93.0,10.0,9.0,10.0,10.0,10.0,10.0,f,moderate
3,9811,https://www.airbnb.com/rooms/9811,Barbara's Hideaway - Old Town,One-bedroom hideaway tucked into Old Town step...,33004,8/21/09,Old Town,Chicago,IL,60614,...,$95.00,92.0,10.0,9.0,10.0,9.0,10.0,9.0,t,strict_14_with_grace_period
4,10610,https://www.airbnb.com/rooms/10610,3 Comforts of Cooperative Living,The condo is the 2nd floor in a lovely 1912 3-...,2140,8/16/08,Hyde Park,Chicago,IL,60615,...,$50.00,82.0,8.0,7.0,9.0,9.0,10.0,9.0,t,moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8528,40262251,https://www.airbnb.com/rooms/40262251,Perfect Old Town condo you will love. Come stay!!,"This is a beautiful million-dollar condo, perf...",2912333,7/12/12,NaN,Chicago,IL,60610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,flexible
8529,40263536,https://www.airbnb.com/rooms/40263536,☼O'Hare-1Bed-Private Bath-Rosemont-AllState Arena,Is this your first booking on Airbnb? Use this...,50413447,12/2/15,NaN,Des Plaines,IL,60018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,flexible
8530,40264107,https://www.airbnb.com/rooms/40264107,One queen bed room in cozy house northwest side,"Nice and quiet neighborhood, save a bunch agai...",35065108,6/5/15,NaN,Chicago,IL,60634,...,$12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,flexible
8531,40264148,https://www.airbnb.com/rooms/40264148,"☼2bed 1bath O'hare, Allstate arena,Casino,Rose...",Is this your first booking on Airbnb? Use this...,50413447,12/2/15,NaN,Des Plaines,IL,60018,...,$0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,moderate
8532,40264411,https://www.airbnb.com/rooms/40264411,Modern Private Room/ quick walk to the train!,Enjoy a clean & comfortable room in a 1bd 2.5b...,178275885,3/13/18,NaN,Chicago,IL,60608,...,$10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible

In [33]:
type(lst)

pandas.core.frame.DataFrame

In [34]:
lst.isna().sum()

id                                0
listing_url                       0
name                              0
description                     129
host_id                           0
host_since                        0
neighbourhood                    27
city                              3
state                            23
zipcode                          22
country_code                      0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                         3
bedrooms                          4
security_deposit               2086
cleaning_fee                    836
review_scores_rating           1244
review_scores_accuracy         1244
review_scores_cleanliness      1244
review_scores_checkin          1245
review_scores_communication    1246
review_scores_location         1245
review_scores_value            1245
instant_bookable                  0
cancellation_policy               0
dtype: int64

In [35]:
lst.dtypes

id                               int64
listing_url                     object
name                            object
description                     object
host_id                          int64
host_since                      object
neighbourhood                   object
city                            object
state                           object
zipcode                         object
country_code                    object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
bedrooms                       float64
security_deposit                object
cleaning_fee                    object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
cancellation_policy             object
dtype: object

In [40]:
rev.iloc[]

id                                                       217997495
listing_id                                                21784716
date                                                      12/10/17
reviewer_id                                               46340737
reviewer_name                                                  Zac
comments         Awesome place, great neighborhood. It's right ...
Name: 233903, dtype: object

In [21]:
rev.isna().sum()

id                 0
listing_id         0
date               0
reviewer_id        0
reviewer_name      0
comments         251
dtype: int64